@using TaskBud.Business.Data
@using TaskBud.Business.Services
@using TaskBud.Website.Extensions
@using Microsoft.AspNetCore.Identity
@model TaskBud.Business.Models.Tasks.VMTask

@inject PriorityHelper PriorityHelper
@inject TaskGroupManager TaskGroupManager
@inject UserManager<IdentityUser> UserManager

<input type="hidden" asp-for="Id" />

<div class="form-group">
    <label asp-for="Title"></label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Description"></label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Priority"></label>
    <select asp-for="Priority" class="form-control" asp-items="Html.GetEnumSelectList<TaskPriority>()">
    </select>
    <span asp-validation-for="Priority" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="WaitUntil"></label>
    <input asp-for="WaitUntil" class="form-control" />
    <span asp-validation-for="WaitUntil" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="RepeatCron"></label>
    @Html.EditorFor(m => m.RepeatCron, new { onChange = "setTimeout(showHideStartAssignee,1000)" })
    <span asp-validation-for="RepeatCron" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="StartingAssignedUserId"></label>
    <select asp-for="StartingAssignedUserId" class="form-control" asp-items="UserManager.Users.SelectList(m => m.Id, m => m.UserName)">
    </select>
    <span asp-validation-for="StartingAssignedUserId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="TaskGroupId"></label>
    <select asp-for="TaskGroupId" class="form-control" asp-items="(await TaskGroupManager.IndexAsync()).SelectList(m => m.Id, m => m.Title)">
    </select>
    <span asp-validation-for="TaskGroupId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="AssignedUserId"></label>
    <select asp-for="AssignedUserId" class="form-control" asp-items="UserManager.Users.SelectList(m => m.Id, m => m.UserName)">
    </select>
    <span asp-validation-for="AssignedUserId" class="text-danger"></span>
</div>

<script>
    document.addEventListener("DOMContentLoaded", onReady);

    function onReady() {
        $("#@(nameof(Model.WaitUntil))").datepicker({ dateFormat: "yy-mm-dd" });
        showHideStartAssignee();
    }

    function showHideStartAssignee() {
        const target = $("#@(nameof(Model.StartingAssignedUserId))").parent();
        if ($("[name='@(nameof(Model.RepeatCron))']").val()) {
            target.show(750);
        } else {
            target.hide(750);
        }
    }

</script>